<div class="page-header">
  <%= link_to new_mmm_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Mmm
  <% end %>
  <h1>Listing mmms</h1>
</div>

<div class="table-responsive">
  <table id="mmms" class="display" data-source="<%= mmms_url(format: "json") %>">
    <thead>
      <tr>
            <th>Mdu</th>
            <th>Tkd</th>
            <th>Adress</th>
            <th>Porch</th>
            <th>Ip</th>
            <th>Sys name</th>
            <th>Ingress</th>
            <th>Mod</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      
    </tbody>
  </table>
</div>
